[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/* Application */

body {
	overflow: hidden;
}

.info-shipping {
	height: 100%;
	left:0;
}

.info-panel {
	position: fixed;
	height: 100%;
	width:45%;
	top:0;
	right:0;
	margin-right:-300px;
	border: 3px solid white;
	background-color: black;
}

.app-header {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 200px;
	top:0;
}

.app-header div h3 {
	color: white;
	font-weight: bold;
}

.app-content {
	top:200px;
}

.app-content-title {
	position:fixed;
	top:170px;
	font-weight: bold;
	width: 100%;
	background-color: black;
}

.app-content-list {
	position: static;
	overflow: auto;
	margin-top: 230px;
	margin-bottom: 50px;
	height: 410px;
}

.app-shipping-content {
	top:400px;
	position: static;
	overflow: auto;
	height: 596px;
	background-color: black;
	transition: all ease-in 0.3s;	
}

.app-shipping-content.ng-hide {
	height: 0px;
	opacity: 0
}

.app-shipping-content-ng-show {
	height: 596px;
	opacity: 1;
}

.app-shipping-content-title {
	position: fixed;
}

.app-content-information {
	color: white;
}

.shipping-content-result td, .app-content-information th {
	padding-left: 30px;
}

.content-information-quantity h4 {
	width: 150px;
}

.content-information-fob h4 {
	width: 150px;
}

.app-shipping-content-list {
	margin-top:150px;
	position: static;
	overflow: auto;
}

.app-footer {
	position:fixed;
	bottom:0;
}

.app-shipping-details {
	background-color: black;
	width: 100%;
}

.app-shipping-content-details {
	background-color: black;
	width: 100%;
}

.app-table{
	max-width: 100%;
  background-color: white;
}

.app-content-table {
	width: 100%;
}

.shipping-result td h4 {
	font-weight: bold;
	color: white;
	margin-left: 8px;
}

.shipping-content-result td h4 {
	font-weight: bold;
	color: white;
}

/* Input bar */
tr.shipping-input th, tr.shipping-title th {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: black
}

tr.shipping-title {

}

.shipping-input td, .shipping-input th {
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
}
.shipping-prefix select, td.shipping-content-measure select, .shipping-currency select {
	margin-bottom: 0px;
	height: 26px;
	width: 70px;
}

.shipping-title th {
	padding-left: 4px;
}
.shipping-title th.shipping-prefix, 
td.shipping-content-measure, 
th.shipping-content-measure {
	width: 78px;
}
.shipping-title th.shipping-id,
td.shipping-content-nadi,
th.shipping-content-nadi {
	width: 138px;
}
.shipping-title th.shipping-weight {
	width: 68px;
}
.shipping-title th.shipping-packages, 
td.shipping-content-quantity, td.shipping-content-fob, 
th.shipping-content-quantity, th.shipping-content-fob {
	width: 72px;
}
.shipping-title th.shipping-consignee,
td.shipping-content-description,
th.shipping-content-description {
	width: 248px;
}
.shipping-title th.shipping-shipper {
	width: 248px;
}
.shipping-title th.right-fix {

}

.shipping-prefix h4 {
	width: 70px;
}
.shipping-id input, .shipping-id h4, .shipping-content-nadi select {
	width: 130px
}
.shipping-packages input, .shipping-packages h4 {
	width: 60px
}
.shipping-weight input, .shipping-content-quantity input, .shipping-content-fob input, .shipping-weight h4 {
	width: 64px	
}
.shipping-fob input, .shipping-fob h4, th.shipping-fob, .shipping-fobAmount input, td.shipping-fobAmount {
	width: 70px
}
.shipping-consignee input, .shipping-content-description input, .shipping-consignee h4 {
	width: 248px;
}
.shipping-shipper input, .shipping-shipper h4 {
	width: 240px;	
}
td.shipping-button, th.shipping-button, .shipping-button h4 {
	width: 20px;
}

.right-fix {
	width: 100%;
}


/* Focus and Blur effect */

tr.focused td {
	background-color: black;
}
tr.blurred td {

}
