
/* Validation Styles */

.valid-input {
	transition: all ease-in 0.2s;
	background-color: yellow;
}

.invalid-input {
	transition: all ease-in 0.2s;
	background-color: orange;
}

.shippings-container {
	background-color: blue;
}
