<!DOCTYPE html>
<html data-ng-app="LoginModule">
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>

		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="electangular.js"></script>
		<script type="text/javascript" src="js/controllers/loginController.js"></script>
		<script type="text/javascript" src="js/controllers/navigationController.js"></script>
</head>
<body>
	<div data-ng-controller="LoginCtrl">
		<h4>Login</h4>
		<button ng-click="init()">Init</button>
	</div>
</body>