
    <table class="app-table">
      <thead>
        <tr class="shipping-input" >
          <th class="shipping-prefix">
            <select ng-model="newShipping.data.prefix" id="newShipping">
              <option ng-repeat="prefix in getPrefixNames()" value="{{prefix}}">{{prefix}}</option>
            </select>
          </th>
          <th class="shipping-id">
            <input ng-model="newShipping.data.id">
          </th>
          <th class="shipping-packages">
            <input ng-model="newShipping.data.packages">
          </th>
          <th class="shipping-weight">
            <input ng-model="newShipping.data.weight">
          </th>
          <th class="shipping-currency">
            <select ng-model="newShipping.data.currency">
              <option ng-repeat="currency in getCurrencies()" value="{{currency}}">{{currency}}</option>
            </select>
          </th>
          <th class="shipping-fobAmount">
            <input ng-model="newShipping.data.fobAmount">
          </th>
          <th class="shipping-fob">
            <input 
              ng-disabled="true">
          </th>
          <th class="shipping-consignee">
            <input ng-model="newShipping.data.consignee">
          </th>
          <th class="shipping-shipper">
            <input xng-focus="isSelected" ng-model="newShipping.data.shipper">
          </th>                              
          <th class="shipping-button">
            <button ng-click="addShipping()">Add</button>
          </th>          
        </tr> 
      </thead>
    </table>


  


