<div>
  
  <div class="app-header"> 

    <h3>App</h3>
        <!-- <h3>Application</h3> -->
    <button ng-click="importDocuments()">Import Documents</button>

  </div>

  <div class="app-content">
    <div class="app-content-title" shipping-title></div>
    <div class="app-content-list" shipping-list></div>
    <div class="app-footer" shipping-footer></div>
  </div>
</div>