      <table class="app-list-table">
        <tbody class="">
            <!-- <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse"> -->

          <tr class="shipping-input" ng-repeat="item in getShippings() | orderBy:shippingsSort.sortingOrder:shippingsSort.reverse">
              <!-- ng-class="{'focused':currentFocus.isFocused(item.id), 'blurred':currentFocus.isBlur(item.id)}" -->

            <td class="shipping-prefix">
              <div>
              <select 
                ng-model="item.data.prefix" 
                ng-class="{'valid-id':validateElement(10*$index+1+'s', item.data, 'validIndex'), 
                           'invalid-id':validateElement(10*$index+1+'s', item.data, 'invalidIndex')}"
                ng-focus="onIdFocus(item.id, item.data.prefix, item.data, 10*$index+1+'s')"
                ng-blur="onIdBlur(item.id, item.data.prefix, item.data.id, 'prefix', item)"
                ng-attr-id="{{10*$index+1+'s'}}">
                <option ng-repeat="prefix in getPrefixNames()">{{prefix}}</option>
              </select>
              </div>
            </td>

            <td class="shipping-id">
              <div>
              <input 
                ng-model="item.data.id"
                ng-class="{'valid-input':validateElement(10*$index+2+'s', item.data, 'validIndex'),
                           'invalid-input':validateElement(10*$index+2+'s', item.data, 'invalidIndex')}"
                ng-focus="onIdFocus(item.id, item.data.id, item.data, 10*$index+2+'s')"
                ng-blur="onIdBlur(item.id, item.data.prefix, item.data.id, 'id', item)"
                ng-attr-id="{{10*$index+2+'s'}}">
              </div>
            </td>

            <td class="shipping-packages">
              <div>
              <input 
                ng-model="item.data.packages"
                ng-class="{'valid-input':validateElement(10*$index+3+'s', item.data.packages, 'validPackages'),
                           'invalid-input':validateElement(10*$index+3+'s', item.data.packages, 'invalidPackages')}"
                ng-focus="onFocus(item.id, item.data.packages, 10*$index+3+'s')" 
                ng-blur="onBlur(item.id, item.data.packages, 'packages', item.data)"
                ng-attr-id="{{10*$index+3+'s'}}"> 
                </div>
            </td>

            <div>
            <td class="shipping-weight">
              <input 
                ng-model="item.data.weight" 
                ng-class="{'valid-input':validateElement(10*$index+4+'s', item.data.weight, 'validWeight'),
                           'invalid-input':validateElement(10*$index+4+'s', item.data.weight, 'invalidWeight')}"
                ng-focus="onFocus(item.id, item.data.weight, 10*$index+4+'s')" 
                ng-blur="onBlur(item.id, item.data.weight, 'weight', item.data)"
                ng-attr-id="{{10*$index+4+'s'}}">
            </td>
            </div>
            <div>
            <td class="shipping-currency">
              <select 
                ng-model="item.data.currency"
                ng-class=""
                ng-focus="onFocus(item.id, item.data.currency, 10*$index+5+'s')" 
                ng-blur="onBlur(item.id, item.data.currency, 'currency', item.data)"
                ng-attr-id="{{10*$index+5+'s'}}">
                <option ng-repeat="currency in getCurrencies()">{{currency}}</option>
              </select>
            </td>
            </div>
            <div>
            <td class="shipping-fobAmount">
              <input 
                ng-model="item.data.fobAmount"
                ng-class=""
                ng-focus="onFocus(item.id, item.data.fobAmount, 10*$index+6+'s')" 
                ng-blur="onBlur(item.id, item.data.fobAmount, 'fobAmount', item.data)"
                ng-attr-id="{{10*$index+6+'s'}}">
            </td>
            </div>
            <div>
            <!-- {'valid-input':validateElement(10*$index+7+'s', item.data.fob, 'validFob'),
                           'invalid-input':validateElement(10*$index+7+'s', item.data.fob, 'invalidFob')}
                ng-focus="onFocus(item.id, item.data.fob, 10*$index+7+'s')" 
                ng-blur="onBlur(item.id, item.data.fob, 'fob', item.data)"

                           -->
            <td class="shipping-fob">
              <input 
                ng-disabled="true"
                ng-model="getFob(item.data)"
                ng-model-options="{ getterSetter: true, updateOn: 'default' }"
                ng-attr-id="">
            </td>
            </div>                        
            <div>
            <td class="shipping-consignee">
              <input 
                ng-model="item.data.consignee" 
                ng-class="{'valid-input':validateElement(10*$index+7+'s', item.data.consignee, 'validConsignee'),
                           'invalid-input':validateElement(10*$index+7+'s', item.data.consignee, 'invalidConsignee')}"
                ng-focus="onFocus(item.id, item.data.consignee, 10*$index+7+'s')" 
                ng-blur="onBlur(item.id, item.data.consignee, 'consignee', item.data)"
                ng-attr-id="{{10*$index+7+'s'}}">
            </td>
            </div>
            <div>
            <td class="shipping-shipper">
              <input 
                ng-model="item.data.shipper" 
                ng-class="{'valid-input':validateElement(10*$index+8+'s', item.data.shipper, 'validShipper'),
                           'invalid-input':validateElement(10*$index+8+'s', item.data.shipper, 'invalidShipper')}"
                ng-focus="onFocus(item.id, item.data.shipper, 10*$index+8+'s')" 
                ng-blur="onBlur(item.id, item.data.shipper, 'shipper', item.data)"
                ng-attr-id="{{10*$index+8+'s'}}">
            </td>
            </div>
            <div>
            <td class="shipping-button">
              <button 
                ng-focus="onFocus(item.id, null, 10*$index+9)" 
                ng-blur="onDefaultBlur()" 
                ng-click="removeShipping(item.id)" 
                ng-attr-id="{{10*$index+9+'s'}}">x</button>
            </td>
            </div>
            <div>
            <td class="shipping-content-button">
              <button 
                ng-focus="onFocus(item.id, null, 10*$index+10)" 
                ng-blur="onDefaultBlur()" 
                ng-click="onContentContext(item.id, 10*$index+1)" 
                ng-attr-id="{{10*$index+10+'s'}}">C</button>
            </td>
            </div>            
          </tr>
        </tbody>
      </table>