      <table class="app-table">
        <thead>
          <tr class="shipping-title">
            <th class="shipping-prefix" shippings-sort order="'data.prefix'" sort="shippingsSort">Pref&nbsp;</th>
            <th class="shipping-id" shippings-sort order="'data.id'" sort="shippingsSort">Shipping&nbsp;</th>
            <th class="shipping-packages" shippings-sort order="'data.packages'" sort="shippingsSort">Packs&nbsp;</th>
            <th class="shipping-weight" shippings-sort order="'data.weight'" sort="shippingsSort">Weight&nbsp;</th>
            <th class="shipping-fob" shippings-sort order="'data.currency'" sort="shippingsSort">Currency&nbsp;</th>
            <th class="shipping-fob" shippings-sort order="'data.fobAmount'" sort="shippingsSort">Amount&nbsp;</th>
            <th class="shipping-fob" shippings-sort order="'data.fobAmount'" sort="shippingsSort">FOB&nbsp;</th>
            <th class="shipping-consignee" shippings-sort order="'data.consignee'" sort="shippingsSort">Consignee&nbsp;</th>
            <th class="shipping-shipper" shippings-sort order="'data.shipper'" sort="shippingsSort">Shipper&nbsp;</th>
            <th class="">Delete</th>
          </tr>
        </thead>
      </table>