    <div class="app-shipping-content-title">

      <table class="app-content-information">
        <thead>
          <tr>
            <th>
              Shipping:
            </th>
            <th>
              {{getContentInformation('id')}}
            </th>
          </tr>
          <tr>
            <th>
              Consignee:
            </th>
            <th>
              {{getContentInformation('consignee')}}
            </th>
          </tr>
          <tr>
            <th>
              Shipper: 
            </th>
            <th>
              {{getContentInformation('shipper')}}
            </th>
          </tr>
          <tr>
            <th>
              Amount:
            </th>
            <th>
              {{getContentInformation('currency')}} {{getContentInformation('fobAmount')}}
            </th>
          </tr>
          <tr>
            <th>
              Fob Conversion:
            </th>
            <th>
              USD {{getContentInformation('fob')}}
            </th>
          </tr>          
        </thead>
      </table>

      <table class="app-content-table">
        <thead>
          <tr class="shipping-title">
            <th class="shipping-content-measure">Measure&nbsp;</th>
            <th class="shipping-content-quantity">Quantity&nbsp;</th>
            <th class="shipping-content-nadi">NADI&nbsp;</th>
            <th class="shipping-content-description">Description&nbsp;</th>
            <th class="shipping-content-fob">({{getContentInformation('currency')}})&nbsp;</th>
            <th class="shipping-content-fob">(USD)&nbsp;</th>
            <th class="">Delete</th>
            <th class="shipping-content-button">
              <button 
                ng-focus="" 
                ng-blur="" 
                ng-click="addShippingContent()"
                ng-attr-id="">+</button>
            </th>           
            <th class="shipping-content-button">
              <button 
                ng-focus="" 
                ng-blur="" 
                ng-click="onShippingContext()"
                ng-attr-id="">x</button>
            </th>            
          </tr>
        </thead>
      </table>
    </div>
    <div class="app-shipping-content-list">  
      <table class="app-content-table">        
        <tbody class="">
            <!-- <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse"> -->

          <tr class="shipping-input" ng-repeat="item in getContent()">
              <!-- ng-class="{'focused':currentFocus.isFocused(item.id), 'blurred':currentFocus.isBlur(item.id)}" -->

            <td class="shipping-content-measure">
              <div>
              <select 
                ng-model="item['data']['measure']"
                ng-focus="onContentFocus(item.id, item.pos, item.data.measure, 6*$index+1+'c')"
                ng-blur="onContentBlur(item.data.measure, 'measure', item.data)"
                ng-attr-id="{{6*$index+1+'c'}}">
                <option ng-repeat="measure in getMeasures()">{{measure.value}}</option>
              </select>
              </div>
            </td>

            <td class="shipping-content-quantity">
              <div>
              <input 
                ng-model="item.data.quantity"
                ng-class="{'valid-input':validateElement(6*$index+2+'c', item.data.quantity, 'validQuantity'),
                           'invalid-input':validateElement(6*$index+2+'c', item.data.quantity, 'invalidQuantity')}"
                ng-focus="onContentFocus(item.id, item.pos, item.data.quantity, 6*$index+2+'c')"
                ng-blur="onContentBlur(item.data.quantity, 'quantity', item.data)"
                ng-attr-id="{{(6*$index)+2+'c'}}">
              </div>
            </td>

            <td class="shipping-content-nadi">
              <div>
              <select 
                ng-model="item.data.nadi"
                ng-focus="onContentFocus(item.id, item.pos, item.data.nadi, 6*$index+3+'c')" 
                ng-blur="onContentBlur(item.data.nadi, 'nadi', item.data)"
                ng-attr-id="{{6*$index+3+'c'}}"></select>
                </div>
            </td>

            <td class="shipping-content-description">
              <div>
              <input 
                ng-model="item.data.description"
                ng-class="{'valid-input':validateElement(6*$index+4+'c', item.data.description, 'validDescription'),
                           'invalid-input':validateElement(6*$index+4+'c', item.data.description, 'invalidDescription')}"
                ng-focus="onContentFocus(item.id, item.pos, item.data.description, 6*$index+4+'c')" 
                ng-blur="onContentBlur(item.data.description, 'description', item.data)"
                ng-attr-id="{{6*$index+4+'c'}}"> 
                </div>
            </td>
            <div>
            <td class="shipping-content-fob">
              <input 
                ng-model="item.data.contentFob" 
                ng-class="{'valid-input':validateElement(6*$index+5+'c', item.data.contentFob, 'validContentFob'),
                           'invalid-input':validateElement(6*$index+5+'c', item.data.contentFob, 'invalidContentFob')}"
                ng-focus="onContentFocus(item.id, item.pos, item.data.contentFob, 6*$index+5+'c')" 
                ng-blur="onContentBlur(item.data.contentFob, 'contentFob', item.data)"
                ng-attr-id="{{6*$index+5+'c'}}">
            </td>
            </div>
            <div>
            <td class="shipping-content-fob">
              <input 
                ng-disabled="true"
                ng-model="getContentFob(item.data.contentFob)" 
                ng-model-options="{ getterSetter: true, updateOn: 'default' }"
                ng-attr-id="">
            </td>
            </div>
            <div>
            <td class="shipping-content-button">
              <button 
                ng-focus="" 
                ng-blur="" 
                ng-click="deleteShippingContent($index+1)" 
                ng-attr-id="{{6*$index+6+'c'}}">x</button>
            </td>
            </div>          
          </tr>
        </tbody>
<!--         <tfoot>
          <td class="content-measure">
            <select ng-model="newContent.data.measure" id="newContentInput">
              <option ng-repeat="measure in getMeasures()" value="{{measure}}">{{measure}}</option>
            </select>
          </td>
          <td class="content-quantity">
            <input ng-model="newContent.data.quantity">
          </td>
          <td class="content-description">
            <input ng-model="newContent.data.description">
          </td>
          <td class="content-fob">
            <input ng-model="newContent.data.fob">
          </td>
          <td class="button">
            <button ng-click="">+</button>
          </td>
        </tfoot> -->
      </table>
    </div>