      <div class="app-shipping-content" ng-show="isContentFormVisible()" shipping-content></div>

      <div class="app-content-new-shipping" ng-show="isInputFormVisible()" shipping-input></div>      

      <div class="app-shipping-content-details" ng-show="isContentDetailsVisible()">
        <table>
          <tfoot>
            <tr class="shipping-content-result">
              <td class="content-information-quantity">
                <h4>Total items: {{getContentSum('quantity')}}</h4>
              </td>
              <td class="content-information-fob">
                <h4>Total Fob: {{getContentSum('contentFob')}}</h4>
              </td>
              <td class="right-fix">
                <h4>Remaining Fob: {{getRemainingFob()}}</h4>
              </td>
            </tr>
          </tfoot>           
        </table>
      </div>

      <div class="app-shipping-details" ng-show="isShippingDetailsVisible()">
        <table>
          <tfoot>
            <tr class="shipping-result">
              <td class="shipping-prefix">
                <h4></h4>
              </td>
              <td class="shipping-id">
                <h4></h4>
              </td>
              <td class="shipping-packages">
                <h4>{{getSum(getShippings(), 'packages')}}</h4>
              </td>
              <td class="shipping-weight">
                <h4>{{getSum(getShippings(), 'weight')}}</h4>
              </td>
              <td class="shipping-fob">
                <h4></h4>
              </td>
              <td class="shipping-fob">
                <h4></h4>
              </td>
              <td class="shipping-fob">
                <h4>{{getSum(getShippings(), 'fobAmount')}}</h4>
              </td>
              <td class="shipping-consignee">
                <h4></h4>
              </td>
              <td class="shipping-shipper">
                <h4>Total Shippings: {{getShippings().length}}</h4>
              </td>
              <td class="right-fix">
                <h4></h4>
              </td>
            </tr>
          </tfoot>           
        </table>
      </div>